@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #71c971;
    --second-color: #fff;
    --third-color: firebrick;
    --main-font: "Poppins";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: var(--main-font);
}

a{
    &:hover{
        color: var(--third-color);
        transition: all ease-in-out 500ms forwards alternate;
    }
    &:visited{
        color: black;
    }
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    text-align: center;
    background-color: #fff;
    height: 160px;
    & > ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        font-weight: bold;
    }
}

.nav-title{
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 3em;
    &::after {
        content: "";
        background-color: rgba(0, 134, 0, 0.795);
        width: 43px;
        height: 43px;
        translate: 10px -35px;
        border-radius: 40px 0 40px 0;
        border: 2px solid rgb(0, 134, 0);
    }
}

#nav-img {
    filter: grayscale(50%);
    border-radius: 10px;
}

/* --------------------main -------------------- */
main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15em;
    background-color: rgb(113, 201, 113);
}
.main-title {
    max-width: 30%;
    display: grid;
    gap: 3em;
    line-height: 2.5em;
    text-align: center;
    & > h1 {
        font-size: 4em;
        color: var(--third-color);
        text-shadow: none;
        transition: text-shadow ease 1000ms forwards alternate;
        &:hover{
            animation: shadow ease 500ms forwards alternate;
        }
    }
}

span{
    color: var(--third-color);
    font-weight: bolder;
    text-decoration-line: underline black;
}

@keyframes shadow{
    0%{
        text-shadow: 0;
    }
    100%{
        text-shadow: -10px 0px #ffffff;
    }
}